div.color040404{
	background-color: #040404;
	color:#040404}
div.color3873ec{
	background-color: #3873ec;
	color:#3873ec}
div.color17205b{
	background-color: #17205b;
	color:#17205b}
div.color44647c{
	background-color: #44647c;
	color:#44647c}
div.color50487c{
	background-color: #50487c;
	color:#50487c}
