div.color87b7c5{
	background-color: #87b7c5;
	color:#87b7c5}
div.colore1a7d1{
	background-color: #e1a7d1;
	color:#e1a7d1}
div.color090f0f{
	background-color: #090f0f;
	color:#090f0f}
div.color745368{
	background-color: #745368;
	color:#745368}
div.color445c64{
	background-color: #445c64;
	color:#445c64}
