div.color92ccdc{
	background-color: #92ccdc;
	color:#92ccdc}
div.colore0a8d1{
	background-color: #e0a8d1;
	color:#e0a8d1}
div.color7b7485{
	background-color: #7b7485;
	color:#7b7485}
div.color639097{
	background-color: #639097;
	color:#639097}
div.color58b2b4{
	background-color: #58b2b4;
	color:#58b2b4}
